.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadebackground {
  from {background-color: grey;}
  to {background-color: black;}
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.top {
  text-align:center;
}

.projects-container {
  text-align: center;
  padding: 30px 25;
}

.projects-text {
  font-family: "Nanum Myeongjo";
  color: #919195;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-decoration: none; 
}

.projects-box {
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(168, 168, 171, 0.2); 
  padding: 20px 20px; 
  border: 1px solid transparent; 
}

.projects-box:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.projects-box:active {
  background-color: #333;  /* Darken the background further on click */
}

.small_links {
  margin:0 auto;
  width: 65%;
  text-align:center;
  border: solid 2px;
  border-color: #66686b;
  border-radius: 10px;
  padding: 5px;
}

.big_links {
  margin:0px auto;
  width: 95%;
  padding: 10px;
  text-align:center;
  border: solid 2px;
  border-color: #66686b;
  border-radius: 10px;
}

table {
  width: 100%;
  text-align:center;
  border-collapse: separate;
  border-spacing: 5px 15px;
}

th, td {
  border: none;
  border-radius: 10px;
}

.hmu {
  list-style-type:none;
  text-align:center;
}

a:link {
  color: #a8a8ab;
}

a:visited {
  color:grey;
}

a:hover {
  color: lightgrey;
}

a:active {
  color: #a8a8ab;
}

* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body,
select,
textarea,
input {
  font: 13px/100% Apple SD Gothic Neo, "Apple SD 산돌고딕 Neo", "Roboto", "맑은 고딕",
  "Malgun Gothic", "Apple Gothic", "나눔고딕", "Nanum Gothic", "돋움", Dotum, "Helvetica Neue",
  Helvetica, Arial, sans-serif;
  color: #a8a8ab;
  border: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object,
textarea,
a,
img {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table img {
  vertical-align: middle;
}

select,
input,
table tr td,
table tr th {
  vertical-align: middle;
}

form,
fieldset,
abbr,
acronym {
  border: 0;
}

img {
  border: 0;
  vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ol,
ul,
li {
  list-style: none;
}

table td a {
  display: inline-block;
}

table caption {
  display: none;
}

strong,
.bold {
  font-family: NanumGothicBold;
}

a {
  text-decoration: none;
}

input[type="image"] {
  vertical-align: top;
}

.resume {
  position: relative;
}

.resume .paper {
  position: relative;
  max-width: 860px;
  margin: 0 auto;
  padding: 100px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .resume .paper {
    padding: 70px 20px;
  }
}

.resume .profile {
  position: relative;
  text-align: center;
}

.resume .profile .picture {
  display: inline-block;
  width: 100px;
  padding: 18px;
  background-color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  border-radius: 150px;
}

.resume .profile .picture img {
  width: 100%;
}

.resume .name {
  padding: 20px 0 4px;
  font-family: "Nanum Myeongjo";
  font-size: 23px;
  font-weight: 700;
  line-height: 140%;
  color: #333;
  letter-spacing: 2px;
}

.resume .job {
  color: #66686b;
  font-size: 16px;
  padding: 25px 0 10px;
}

.resume .nation {
  color: #66686b;
  font-size: 16px;
}

.resume .introduce {
  padding: 30px 0 60px;
  font-family: "Nanum Myeongjo";
  font-size: 15px;
  line-height: 180%;
  color: #a8a8ab;
  text-align: left;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .resume .introduce {
    /*padding:70px 0 60px;*/
    /* font-size: 14px; */
  }
}

.resume section {
  position: relative;
  padding-bottom: 60px;
}

.resume section h3 {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 30px;
  color: #a8a8ab;
}

.resume section h3 > span {
  padding-left: 3px;
  font-weight: 700;
  font-size: 15px;
}

.resume section > ul {
  margin-left: 15px;
}

.resume section > ul > li {
  padding-top: 18px;
}

.resume section > ul > li:first-child {
  padding-top: 0;
}

.resume section > ul > li.new .title > a {
  color: #a8a8ab;
}

.resume section .date {
  display: inline-block;
  color: #a8a8ab;
  font-size: 13px;
  line-height: 140%;
  padding: 4px 0 0 8px;
}

.resume section .title {
  font-family: "Nanum Myeongjo";
  font-size: 15px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.5px;
  color: #a8a8ab;
}

.resume section .title span {
  font-size: 12px;
  line-height: 140%;
  padding-left: 5px;
  color: #a8a8ab;
  font-family: initial;
  font-weight: normal;
}

.resume section .title > a {
  display: inline-block;
  position: relative;
  color: inherit;
  padding-left: 7px;
  font-size: 15px;
}

.resume section .title > a i {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 2px;
  background-color: #a8a8ab;
  -webkit-transition: width 0.45s cubic-bezier(0.86, 0.16, 0.22, 1.21);
  -moz-transition: width 0.45s cubic-bezier(0.86, 0.16, 0.22, 1.21);
  -ms-transition: width 0.45s cubic-bezier(0.86, 0.16, 0.22, 1.21);
  -o-transition: width 0.45s cubic-bezier(0.86, 0.16, 0.22, 1.21);
  transition: width 0.45s cubic-bezier(0.86, 0.16, 0.22, 1.21);
}

.resume section .title > a i.none {
  background-color: #fff;
}

.resume section .title > a:hover {
  color: #a8a8ab;
}

.resume .skills .list {
  padding-left: 7px;
  font-family: "Nanum Myeongjo";
  font-size: 15px;
  font-weight: 700;
  line-height: 170%;
  color: #a8a8ab;
  letter-spacing: 0.5px;
}

.resume .experience .title,
.resume .education .title {
  padding-left: 7px;
}

.resume.black {
  background-color: #333;
}

.resume.black .profile .name {
  color: #aaa;
}

.resume.black .introduce {
  color: #c1c1c1;
}

.resume.black section .title {
  color: #a8a8ab;
}

.resume.black .skills .list {
  color: #a8a8ab;
}

@media only screen and (min-width: 768px) {
  /* 320px 이상 */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* iPhone4+ 레티나 디스플레이 */
}
